doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css")
    title learn jade
  body
    .container.alert.alert-info
      h1 hello jade world
    script(type="text/javascript" src="../bower_components/jquery/dist/jquery.js")
    script(type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js")
    
